<div class="flex items-center flex-col mt-10">
<h1 class="text-2xl mb-4">Sign Up</h1>
<div class="border-gray-500 border p-3 rounded">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "border border-teal-500 rounded mb-2" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: "border border-teal-500 rounded mb-2" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "border border-teal-500 rounded mb-2" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border border-teal-500 rounded mb-2" %>
  </div>

  <div class="actions flex justify-center">
    <%= f.submit "Sign up", class: "text-teal-500 p-3 px-6 rounded-full bg-gray-900 mx-auto" %>
  </div>
<% end %>
<div class="flex justify-center">
<%= render "devise/shared/links" %>
</div>
</div>
</div>