<div class="flex items-center flex-col mt-10">
<p id="notice"><%= notice %></p>

<h1 class="text-lg text-blue-700 mb-5">Users</h1>

      <p class="text-sm text-gray-700">Username</p>

    <% @users.each do |user| %>
    <div class="flex my-3 flex-wrap">
        <p class="mr-5 capitalize"><%= user.username %></p>
        <p class="mr-5"><%= link_to 'Show', user %></p>
        <p  class="mr-5"><%= link_to 'Edit', edit_user_path(user) %></p>
        <p  class="mr-5"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
    <% end %>

            

            

<%= button_to 'New User', new_user_registration_path, method: :get, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
</div>