<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <strong>Email:</strong>
  <%= @user.email %>
</p> <br/>

  <strong>Events:</strong><br/>

  <% @user.events.each do |event| %>
                    <strong>DATE :</strong>
                    <p><%= event.date %></p><br/>
                    <strong>Description :</strong>
                    <p><%= event.description %></p><br/>
    <% end %>

    <strong>Attending Following Events:</strong><br/>
  <% @user.event_attendee.each do |t| %>

    <%= t.attendee_id %> </br>
  <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
