<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <div class="flex justify-between my-4">
    <p class="mr-10"><%= form.label :date %></p>
    <%= form.date_field :date %>
  </div>
   <div class="flex">
   <p class="mr-4"><%= form.label :description %></p>
    <%= form.text_area :description, class: "border border-opacity-75" %>
  </div>
  </div>

  <div class="actions">
  <p class="text-teal-500 mx-6 p-3 px-6 rounded-full bg-gray-900 text-center"><% link_to "submit", events_index_path %>
    <%= form.submit %></p>
  </div>
<% end %>