<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @event.user.username %>
</p>

<%= button_to 'Join Now', events_join_path(@event.id) %> 
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
